// Title
title #{metaTitle}
// Favicon
link(rel='shortcut icon', href='../assets/main/favicon.ico')
meta(charset='utf-8')
// Meta
meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
meta(name='keywords', content='Priv.Cloud, Priv.cloud, privacy, decentralization, open-source, web services')
meta(name='description', content=metaDesc)
// Opengraph meta
meta(property="og:title" content=ogMetaTitle)
meta(property="og:description" content=ogMetaDesc)
meta(property='og:image', content='https://privcloud.ml/assets/main/logo_bg.png')
// Twitter meta
meta(name="twitter:title" content=twitterMetaTitle)
meta(name="twitter:description" content=twitterMetaDesc)
meta(name="twitter:image" content="https://privcloud.ml/assets/main/logo_bg.png")